<h3 class="portlet-subtitle">Reset Password</h3>
<%= form_tag :action => :request_password, :controller => :players, :method => :post do %>
  <input type="email" class="form-input" placeholder="Email" name="player[email]">
  <input type="submit" class="form-button" value="Send Reset Email">
<% end %>