<div class="portlet">
  <div class="portlet half no-background bordered">
    <h2 class="portlet-subtitle">News</h2>
    <p class="dev-message">This app is in development</p>
  </div>
  <div class="portlet half">
    <h2 class="portlet-subtitle">News</h2>
    <p class="dev-message">This app is in development</p>
  </div>
</div>
