<div class="portlet">
    <div class="portlet half">
    <h1 class="portlet-title">Home Page</h1>
    <p class="dev-message">This app is in development</p>
    </div>
    <div class="portlet half">
    <h1 class="portlet-title">Home Page</h1>
    <p class="dev-message">This app is in development</p>
    </div>
    <div class="portlet half left">
    <h1 class="portlet-title">Home Page</h1>
    <p class="dev-message">This app is in development</p>
    </div>
    <div class="portlet half">
    <h1 class="portlet-title">Home Page</h1>
    <p class="dev-message">This app is in development</p>
    </div>
</div>
