
<h2 style="margin: 10px 0;">Hey, <%= @player.player_tag || @player.email %>!</h2>
<p style="margin: 5px 0;">
  You have been sent this email to reset your password.
  If you do not wish to reset it, or do not recall requesting a password change, please disregard this email.
</p>
<p style="margin: 5px 0;">
  In order to reset your password, <a href="<%= raw @url %>">click here</a> 
  or paste the following url into your browser:
</p>
<p style="margin: 5px 0;"><%= @url %></p>