@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin portlet ($level: 0) {
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 3px;
  @if ($level == 0) {
    background: $portlet_0;
    border-color: $portlet_border_0;
  } @else {
    background: $portlet_1;
    border-color: transparent;
  }
  padding: 10px;
}