<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <div style="
    min-height: 100%;
    background-color: #A0A0AF;
    padding: 10px 10px;
  ">
    <div style="
      max-width: 800px;
      width: calc(100% - 32px);
      padding: 10px;
      margin: 0 auto;
      border: 1px solid #F4F4F6;
      background: #ffffff;
    ">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
